:root {
  --red: #ef1f1f;
  --nunito: "Nunito", sans-serif;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  height: 100%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #000;
}

.home-page {
  color: #fff;
  background-image: url('./assets/img/banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
  background-position: 10% 65%;
}

.home-page .home-header {
  background: none;
}

.home-page .banner {
  padding: 120px;
}

.home-page .banner__text {
  font-size: 2.5rem;
}

.home-page footer {
  background: none;
}

.page-section {
  margin: 80px 60px;
}

/* General Responsive Styles */
@media only screen and (max-width: 900px) {
  .home-page {
    overflow: scroll;
  }

  .page-section {
    margin: 80px 20px;
  }
}

/* Laptop */
@media only screen and (min-width: 1000px) {
  .home-page .banner__text {
    font-size: 2rem;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  .home-page .banner {
    padding: 80px 60px;
  }

  .home-page .banner__text {
    font-size: 1.7rem;
  }
}

/* Mobile - L*/
@media only screen and (max-width: 500px) {
  .home-page .banner {
    padding: 60px 30px;
  }

  .home-page .banner__text {
    font-size: 1.5rem;
  }
}

/* Mobile - S */
@media only screen and (max-width: 320px) {
  .home-page .banner__text {
    font-size: 1.3rem;
  }
}

/* Styles */
.Red {
  color: var(--red);
}

.Hide { 
  display: none;
}

button {
  padding: 0.8rem;
  border: none;
  outline: none;
  background-color: var(--red);
  color: #fff;
  font-family: inherit;
  border-radius: 4px;
  cursor: pointer;
}

.Btn {
  padding: 0.8rem;
  border: none;
  outline: none;
  background-color: var(--red);
  color: #fff;
  font-family: inherit;
  border-radius: 4px;
  cursor: pointer;
}