.Menu {
  display: flex;
  flex-wrap: wrap;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
  margin-bottom: 50px;
}

.Menu__label {
  display: flex;
  text-align: center;
  color: #fff;
  width: 15%;
  background-color: var(--red);
  padding: 20px 0;
}

.Menu__label h3 {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 3.5rem;
  margin: 0;
}

.Menu__food {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 40px 0;
  width: 85%;
}

.Menu__food-item {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  width: 25%;
  border-radius: 4px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  margin: 10px 0;
  align-content: baseline;
  height: fit-content;
  min-height: 200px;
  position: relative;
  min-width: 170px;
}

.Menu__food-item__img {
  width: 100%;
  height: 150px;
}

.Menu__food-item__img img {
  width: 100%;
  height: 100%;
}

.Menu__food-item__details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  width: 100%;
}
.Meal-info {
  width: 100%;
}

.Meal-info > * {
  margin: 5px;
}

.Card-btn {
  padding: 0.7rem;
  margin: 5px;
}