.Banner {
  text-align: center;
  padding: 80px 40px;
}

.Banner__text {
  font-size: 1.8rem;
  font-style: italic;
  margin: 40px 0;
}

.Banner__text:nth-child(1) {
  text-align: left;
}

.Banner__text:nth-child(2) {
  text-align: right;
}

.Banner__button {
  margin-top: 10px;
  transition: all 0.5s;
}

.Banner__button:hover,
.Banner__button:focus,
.Banner__button:active {
  background-color: #fff;
  color: var(--red);
  transform: scale(1.1);
}

.Home__Banner__text {
    font-size: 2.5rem;
}