.Menu {
  display: flex;
  flex-wrap: wrap;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
  margin-bottom: 50px;
}

.Menu__label {
  display: flex;
  text-align: center;
  color: #fff;
  width: 15%;
  background-color: var(--red);
  padding: 20px 0;
}

.Menu__label h3 {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 3.5rem;
  margin: 0;
}

.Menu__food {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 40px 0;
  width: 85%;
}

/* General Responsive Styles */
@media only screen and (max-width: 900px) {
  .Menu {
    display: block;
  }

  .Menu__label {
    width: 100%;
    justify-content: center;
  }

  .Menu__label h3 {
    font-size: 3rem;
    writing-mode: unset;
    transform: none;
  }

  .Menu__food {
    width: 100%;
  }
}

/* Mobile - L*/
@media only screen and (max-width: 500px) {
  .Menu__label h3 {
    font-size: 2.5rem;
  }
}